<h1>Login!</h1>
<div class="container">
    <div *ngIf='invalidLogin' class="alert alert-warning">{{errorMessage}}</div>
    <div>
        Username : <input type="text" placeholder="username" name="username" [(ngModel)]="username">
        Password : <input type="password" placeholder="password" name="password" [(ngModel)]="password">
        <button  class="btn btn-success" type="submit" (click)=click()>Login</button>
    </div>
</div>