<h1>Welcome!</h1>

<div class="container">
    welcome {{name}}! you can navigate here <a routerLink="/todos">here</a> 
</div>

<div class="container">
    Click here to get a customized welcome message
    <button (click)="getWelcomeMessageWithParameter()" class="btn btn-success">Get Welcome Message</button>
</div>

<div class="container" *ngIf="welcomeMessage">
   <h2>Your customized welcome message {{welcomeMessage}}</h2>
   
</div>