<h1>My's Todo's</h1>
<div *ngIf='message' class="alert alert-warning">{{message}}</div>
<div class="container">
<table class="table">
    <caption>My Todos</caption>
    <thead>
        <tr>
            <th>Description </th>
            <th>Target Date </th>
            <th>is Completed</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor=" let todo of todos">
            <td>{{todo.description}}</td>
            <td>{{todo.targetDate | date | uppercase}}</td>
            <td>{{todo.done}}</td>
            <td><button class="btn btn-success" (click)="UpdateTodo(todo.id)">Update</button></td>
            <td><button class="btn btn-warning" (click)="DeleteTodo(todo.id)">Delete</button></td>
        </tr>
    </tbody>
</table>
</div>