<h1>Todo</h1>
<div class="container">

    <div class="form-group">
        <label>Description</label>
        <input type="text" [(ngModel)]="todos.description" class="form-control" name="description" required="required">
    </div>


    <div class="form-group">
        <label>Target Date</label>
        <input type="date" [ngModel]="todos.targetDate | date : 'yyyy-MM-dd'" 
            (ngModelChange)="todos.targetDate = $event"
        name="targetDate" class="form-control" required="required">
    </div>

    <button class="btn btn-success" (click)="saveTodo()">Save</button>
</div>